<h1>Enjoy these events!</h1>

<% @events.each do |event| %>
  <hr>
  <h2><%= link_to event.title, event_path(event.id) %></h2>
  <%= event.body %>
  <h4>This event will be held on <%= event.date %> in <%= event.location %></h4>
  <% if user_signed_in? %>
    <h5>Organized by <%= link_to event.creator.email, user_path(event.creator.id) %></h5>
  <% end %>
  <hr>
<% end %>