<h1><%= @event.title %></h1>
<%= @event.body %>
<h4>This event will be held on <%= @event.date %> in <%= @event.location %></h4>
<% if user_signed_in? %>
  <h5>Organized by <%= link_to @event.creator.email, user_path(@event.creator.id) %></h5>
<% end %>
<% if current_user == @event.creator %>
  <%= button_to "Edit Event", edit_event_path, method: :get %><br>
  <%= button_to "DESTROY EVENT", @event, method: :delete %>
<% end %>
